/*LOGIN*/
.card-container{
  width: 35%;
    left: 30%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}
/*Login styles*/
.login-input{
  margin-top:2rem !important;
  
}
.login-form-control{
  width: 100%;
  
}
.image{
  width: 100%;
  
  height: 100vh; /* Permite que crezca */
}
.login-forgot{
  position: relative;
  top: -15px;
  left: 30%;
}

.login-input{
  background-color: #2403034f;
}

/* Estilo para el enfoque del campo de texto en modo login */
.login-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(158, 6, 6); /* Cambia el color del borde a rojo cuando está enfocado */
  transition: border-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilo para el texto del label cuando está enfocado */
.login-input .MuiInputLabel-root.Mui-focused {
  color: rgb(255, 255, 255); /* Cambia el color del texto del label a blanco cuando está enfocado */
}

/* Estilo para el label del campo de texto */
.login-input .MuiInputLabel-root {
  color: #ffffff; /* Cambia el color del label a blanco */
}

/* Estilo para el texto dentro del campo de texto */
.login-input .MuiInputBase-input {
  color: #f0f0f0; /* Cambia el color del texto dentro del campo a gris claro */
}




/* Estilo General del Contenedor */
.login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
}

/* Imagen de Fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  z-index: -1;
}

/* Contenedor del Card */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegura que el card esté sobre la imagen de fondo */
  color: #009e72;
  left: 50%;
  top: 50%;
  background: rgba(122, 23, 23, 0); /* Fondo blanco semitransparente */
}





/* Estilos para el Card */
.MuiCard-root {
  background: rgba(255, 255, 255, 0.014); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(122, 8, 8, 0.568);
  animation: fadeIn 0.5s ease-out;
  
  
}

/* Estilo para los TextField y Botones */
.login-input {
  margin-bottom: 15px;
  width: 100%;
}

/* Animación al Cambiar entre Login y Registro */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.card-container.slide-in .MuiCard-root {
  animation: slideIn 0.5s ease-out;
}

.card-container.slide-out .MuiCard-root {
  animation: slideOut 0.5s ease-in;
}

/* Animación de FadeIn para el Card */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Transiciones para Botones */
button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: rgba(7, 18, 28, 0.9);
  transform: scale(1.05);
}

/*Main container styles*/
/*.main-container{
  display: flex;
  height: inherit;
}

/*SideBar Styles*/
.sidebar-container {
  background-color: #500505; /* Fondo rojo oscuro */
  height: 100vh;
  padding: 10px;
  color: #fff; /* Texto blanco */
  transition: width 0.3s ease; /* Transición al colapsar */
  overflow: hidden;
  position: fixed; /* Fija la posición del sidebar */
}

/* Estilo para los ítems del menú */
.sidebar-menu-item {
  padding: 10px 20px;
  color: #ffffff; /* Texto blanco por defecto */
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transición suave */
  background-color: transparent; /* Asegúrate de que el fondo sea transparente */
}

/* Cambios al hacer hover sobre los ítems */
.sidebar-menu-item:hover {
  background-color: #ffffff; /* Fondo blanco al hacer hover */
  color: #000000; /* Texto rojo al hacer hover */
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}

/* Estilo para el botón del menú */
.sidebar-button {
  color: #ffffff;
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo gris claro al hacer hover */
  transition: background-color 0.3s ease;
}
.sidebar-title {
  height: 7vh; /* Altura del 3% de la ventana */
  padding: 10px; /* Padding para el título */
  display: flex; /* Utiliza flexbox para centrar contenido */
  align-items: center; /* Centra verticalmente el contenido */
  color: #fff; /* Color del texto */
  font-size: 18px; /* Tamaño del texto */
  background-color: #500505; /* Fondo rojo oscuro */
}
.sidebar-logo {
  position: absolute;
  height: 15vh; /* Altura del 3% de la ventana */
  padding: 10px; /* Padding para el título */
  left: 0%;
  top: -2%;
  z-index: 1;
}

/*main Styles*/

.main {
  position: absolute;
  display: flex;
  left: 300px;
  top: 10px;
  
}

.table-and-button {
  display: flex;
  flex-direction: column; /* Mantiene los elementos uno debajo del otro */
  align-items: flex-end; /* Alinea todo a la derecha */
}

.custom-table {
  width: 100%;
}

.button-container {
  margin-top: 20px;
}
.add-user-button {
  background-color: #750808;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed; /* Mantiene el botón en una posición fija */
  bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
  right: 20px; /* Distancia desde la parte derecha de la pantalla */
}

.add-user-button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.main-image {
  position: fixed;
  top: -5%;
  left: -10%;
  width: 120%;
  height: 110%;

  z-index: -1;
}





/* guardar producto Styles */
#crearproducto {
  /* Estilos para el card */
  padding: 20px;
  margin: 20px;
  background-color: #630505;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crear-producto-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-table {
  width: 100%;
}

.login-input {
  margin-bottom: 15px;
  width: 100%;
}

/* Específicos para cada campo */
.nombre-input {
  background-color: #000000;
}

.calidad-input {
  background-color: #000000;
}

.modelo-input {
  background-color: #000000;
}

.lado-input {
  background-color: #000000;
}

.imagen-input {
  background-color: #000000;
}

.stock-input {
  background-color: #000000;
}

.descripcion-input {
  background-color: #000000;
}

.precio-input {
  background-color: #000000;
}

.tipo-input {
  background-color: #000000;
}

.add-user-buttonATRAS {
  background-color: #750808;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed; /* Mantiene el botón en una posición fija */
  bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
  right: 250px; /* Distancia desde la parte derecha de la pantalla */
}

.add-user-buttonATRAS:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

