/*LOGIN*/
.card-container{
  width: 35%;
    left: 30%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}
/*Login styles*/
.login-input{
  margin-top:2rem !important;
  
}
.login-form-control{
  width: 100%;
  
}
.image{
  width: 100%;
  
  height: 100vh; /* Permite que crezca */
}
.login-forgot{
  position: relative;
  top: -15px;
  left: 30%;
}

.login-input{
  background-color: #2403034f;
}

/* Estilo para el enfoque del campo de texto en modo login */
.login-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(158, 6, 6); /* Cambia el color del borde a rojo cuando está enfocado */
  transition: border-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilo para el texto del label cuando está enfocado */
.login-input .MuiInputLabel-root.Mui-focused {
  color: rgb(255, 255, 255); /* Cambia el color del texto del label a blanco cuando está enfocado */
}

/* Estilo para el label del campo de texto */
.login-input .MuiInputLabel-root {
  color: #ffffff; /* Cambia el color del label a blanco */
}

/* Estilo para el texto dentro del campo de texto */
.login-input .MuiInputBase-input {
  color: #f0f0f0; /* Cambia el color del texto dentro del campo a gris claro */
}




/* Estilo General del Contenedor */
.login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
}

/* Imagen de Fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  z-index: -1;
}

/* Contenedor del Card */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegura que el card esté sobre la imagen de fondo */
  color: #009e72;
  left: 50%;
  top: 50%;
  background: rgba(122, 23, 23, 0); /* Fondo blanco semitransparente */
}





/* Estilos para el Card */
.MuiCard-root {
  background: rgba(255, 255, 255, 0.014); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(122, 8, 8, 0.568);
  animation: fadeIn 0.5s ease-out;
  
  
}

/* Estilo para los TextField y Botones */
.login-input {
  margin-bottom: 15px;
  width: 100%;
}

/* Animación al Cambiar entre Login y Registro */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.card-container.slide-in .MuiCard-root {
  animation: slideIn 0.5s ease-out;
}

.card-container.slide-out .MuiCard-root {
  animation: slideOut 0.5s ease-in;
}

/* Animación de FadeIn para el Card */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Transiciones para Botones */
button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: rgba(7, 18, 28, 0.9);
  transform: scale(1.05);
}

/*Main container styles*/
/*.main-container{
  display: flex;
  height: inherit;
}

/*SideBar Styles*/